sim/work/**
sim/transcript
sim/vsim.wlf

DE1_SoC/db/**
DE1_SoC/incremental_db/**
DE1_SoC/output_files/**
DE1_SoC/greybox_tmp/**
DE1_SoC/simulation/**
DE1_SoC/*.bak
DE1_SoC/**.asm.rpt
DE1_SoC/**.done
DE1_SoC/**.eda.rpt
DE1_SoC/**.fit.**
DE1_SoC/**.flow.**
DE1_SoC/**.jdi
DE1_SoC/**.map.**
DE1_SoC/**.pin
DE1_SoC/**.sld
DE1_SoC/**.sof
DE1_SoC/**.sta.**