sim/work/**
sim/transcript
sim/vsim.wlf
sim/vlog.opt
sim/dftoutput.csv
sim/dftoutputsingle.csv
sim/modelsim.ini

DE1_SoC/db/**
DE1_SoC/incremental_db/**
DE1_SoC/output_files/**
DE1_SoC/greybox_tmp/**
DE1_SoC/simulation/**
DE1_SoC/*.bak
DE1_SoC/**.asm.rpt
DE1_SoC/**.done
DE1_SoC/**.eda.rpt
DE1_SoC/**.fit.**
DE1_SoC/**.flow.**
DE1_SoC/**.jdi
DE1_SoC/**.map.**
DE1_SoC/**.pin
DE1_SoC/**.sld
DE1_SoC/**.sof
DE1_SoC/**.sta.**

DFT_DE1/db/**
DFT_DE1/incremental_db/**
DFT_DE1/output_files/**
DFT_DE1/greybox_tmp/**
DFT_DE1/simulation/**
DFT_DE1/*.bak
DFT_DE1/**.asm.rpt
DFT_DE1/**.done
DFT_DE1/**.eda.rpt
DFT_DE1/**.fit.**
DFT_DE1/**.flow.**
DFT_DE1/**.jdi
DFT_DE1/**.map.**
DFT_DE1/**.pin
DFT_DE1/**.sld
DFT_DE1/**.sof
DFT_DE1/**.sta.**

other/dftbincorrelation.csv